@import "tailwindcss";
@import "tw-animate-css";

.navbar{
    background: linear-gradient(90deg, #3323A0 0%, #1D77B9 50%, #3323A0 100%);
    color: white;
    cursor: pointer;
}

.nav-item {
  position: relative;
  flex: 0 0 auto;
  transition: color 0.3s ease, font-weight 0.3s ease, transform 0.3s ease;
  &:hover {
    color: var(--secondary-light);
    font-weight: bold;
    transform: scale(1.1) translateY(-2px);
  }
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--secondary-light);
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

::selection {
    background-color: var(--color-secondary-light);
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #00C9FFB2;
}

::-webkit-scrollbar-thumb {
    background: #08ccfa;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #25d4fb;
}