@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  font-size: 16px;
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 9px;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-lexend: 'Lexend Deca', sans-serif;
  --font-permanent: 'Permanent Marker', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  display: relative;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend);
  overflow-x: hidden;
  display: relative;
}

main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: relative;
}

section {
  scroll-snap-align: start;
  display: flex;
  overflow: hidden;
  display: relative;
}

/* @media (max-width: 768px) {
  section {
    height: auto;
  }
} */
h2 {
  font-size: 6rem;
  font-family: var(--font-permanent);
  color: black;
  text-align: center;
}

@media (max-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float-animation {
  animation: float-slow 6s ease-in-out infinite;
  will-change: transform;
}

Image{
  user-select: none;
}