@import "tailwindcss";
@import "tw-animate-css";

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.full{
    width: 100%;
    height: 100%;
}

.screen{
    width: 100vw;
    height: 100vh;
}

.col{
    display: flex;
    flex-direction: column;
}

.click{
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-in-out;
    
    &:hover{
        filter: brightness(1.15);
        transform: scale(1.15);
    }

    &:active{
        filter: brightness(0.8);
        transform: scale(0.9);
    }
}

.colored{
    background: linear-gradient(to left, var(--secondary), var(--tertiary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}